<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="width" value="74" />
		<add key="height" value="74" />
		<add key="spacing" value="8" />

		<add key="right1" value="90" />
		<add key="right2" value="306" />
		<add key="right3" value="503" />
		<add key="right4" value="709" />

		<add key="bottom1" value="33" />
		<add key="bottom2" value="33" />
		<add key="bottom3" value="33" />
		<add key="bottom4" value="33" />

		<add key="scala1" value="13" />
		<add key="scala2" value="13" />
		<add key="scala3" value="13" />
		<add key="scala4" value="13" />

		<add key="height1" value="74" />
		<add key="height2" value="74" />
		<add key="height3" value="74" />
		<add key="height4" value="74" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Sap.Data.Hana.v4.5" publicKeyToken="0326b8ea63db4bc4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.120.0" newVersion="1.0.120.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
